<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- KaTeX -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css" integrity="sha384-RP4/P4q3nztHlz5F1clYkSd5S0p/PLaKzXihgPRv4AF0y3q0ltEM5QeNf+yY0S/5" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js" integrity="sha384-k+9hr9o7p54v70T87HzD1sngs80Ijb/cnmRoYlE2Q3VHnNRdf2X7KhEUVy8Wiv7w" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/contrib/auto-render.min.js" integrity="sha384-hd5A5qpY1gKjhtXf/YDYOrmd2tAZYP0EEbB/lPnhhA4bCKCZI09nwYLGKy0I9eTJ" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body);
  });
</script>


<!-- end custom head snippets -->
