<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- KaTeX -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css" integrity="sha512-VgKoW8nI9HjSPbmzVvNllf4W8VjZOtIyNt36GWUb1T0T2lXO3/DKj2weHpZ/lYJZibkgxjxOo13jKvIOfoTpGg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js" integrity="sha512-hhJ9zHmQ2j03d1OYJ1ETGxHx0KjuzmOuhpKjKzVXSwadI+jW8VvPxYfJxKjI/Gt10yQ8itlTtT2Q/IkX3jtpiQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/contrib/auto-render.min.js" integrity="sha512-R1KzT1HYhGWYFv83CFnOVVduTxGrjRZ//wLZv6f/NjzF4x4dkyJNU9Y3qKjrmHlQ+88R8wGmU04vCKUvgp4ilw==" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body);
  });
</script>


<!-- end custom head snippets -->
